$violet: hsl(252, 94%, 67%);
$lightviolet: hsl(252, 100%, 73%);
$verydarkblue: hsl(233, 31%, 17%);
$darkblue: hsl(233, 30%, 21%);

$lightgrey: hsl(231, 73%, 93%);
$grey: hsl(231, 20%, 61%);
$blue: hsl(231, 37%, 63%);
$midnight: hsl(228, 29%, 7%);

$red: hsl(0, 80%, 63%);
$lightred: hsl(0, 100%, 80%);
$lightbg: hsl(240, 27%, 98%);
$darkbg: hsl(233, 30%, 11%);

body {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  color: black;
  line-height: 15px;
  letter-spacing: -0.25px;
  background-color: $lightbg;
  margin: 0;
}

.body-alt-style {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.23px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

//Menubar

.App {
  min-height: 100%;
}

//This is absolute chaos but its slightly better than changing things in 200 places
.App[data-theme="dark"] {
}

.menubar,
.menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menubar {
  background-color: hsl(231, 20%, 27%);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

@media all and (min-width: 620px) {
  .menubar {
    height: 100%;
    width: 72px;
    left: 0;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .menu-right {
    flex-direction: column;
  }
}

.menu-logo {
  width: 72px;
  height: 72px;
  background: $violet;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .menu-logo--container {
    position: relative;
    z-index: 10;
    transform: translate(20px, -14px);
  }

  .menu-logo--styling {
    position: relative;
    height: 36px;
    width: 100%;
    background: $lightviolet;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(100%);
  }

  &:hover {
    cursor: pointer;
  }
}

.menu-button-nightmode {
  margin: 20px 24px;

  &:hover {
    .menu-theme-icon path {
      fill: #dfe3fa;
    }
  }
}

.menu-button-profile--container {
  height: 72px;
  padding: 0px 24px;
  border-left: 1px solid hsla(231, 20, 36, 1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media all and (min-width: 620px) {
  .menu-button-profile--container {
    border-left: none;
    border-top: 1px solid hsla(231, 20, 36, 1);
    padding: 0px 14px;
  }
}

.menu-button-profile {
  img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

.app-body {
  position: fixed;
  overflow-y: scroll;
  margin-top: 72px;
}

@media all and (min-width: 620px) {
  .app-body {
    margin-top: 0;
    left: 72px;
  }
}

//CUSTOM BUTTONS

.button-newinvoice {
  background: $violet;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  border-radius: 24px;
  width: 90px;
  .button-newinvoice--plus {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &:hover {
    background-color: $lightviolet;
  }
}

@media all and (min-width: 620px) {
  .button-newinvoice {
    width: 150px;
  }
}

//INVOICE MENU

.invoice-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 32px 24px;

  .invoice-menu-left {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 20px;
      line-height: 22px;
      margin: 0;
      margin-bottom: 4px;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      color: hsl(231, 20, 61);
    }
  }

  .invoice-menu-right {
    display: flex;
    flex-direction: row;
    button {
      .downarrow {
        margin-left: 1em;
        margin-right: 18px;
      }
    }
  }
}

.invoice-menu-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & button:hover {
    color: $blue;
  }
}

.invoice-menu-filters-popup {
  position: absolute;
  z-index: 15;
  padding: 24px;
  width: inherit;
  transform: translateY(96px);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
}

.filter-option {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    display: inline-block;
    margin: 0;
    margin-right: 13px;
    &:hover {
      cursor: pointer;
    }
  }
  label {
    display: inline-block;
    color: $midnight;
    font-weight: 700;
    margin: 0;
    padding-top: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

//INVOICE CARDS

.noinvoice-container {
  height: calc(100% - 200px);
  margin: 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div > h3 {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }
  div > p {
    text-align: center;
    font-weight: 500;
    line-height: 15px;
    color: hsl(231, 20, 61);
  }
}

.invoice-list-container {
}

.invoice-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  padding: 24px;
  border-radius: 8px;
  color: $grey;
  box-sizing: border-box;
  border: 1px solid transparent;
  &:hover {
    border-color: $violet;
  }
}

.invoice-card-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-card--id {
  color: $blue;
}

.invoice-card--duedate {
  color: $blue;
}

.invoice-card--total {
  color: $midnight;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.8px;
}

.invoice-status {
  height: 40px;
  width: 104px;
  font-weight: 700;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.paid {
    color: hsl(160, 67, 52);
    background-color: hsla(160, 67, 52, 0.06);
  }

  &.pending {
    color: hsl(34, 100, 50);
    background-color: hsla(34, 100, 50, 0.06);
  }

  &.draft {
    color: hsl(231, 20, 27);
    background-color: hsla(231, 20, 27, 0.06);
  }
}

//Main Invoice Section

.invoice-goback {
  margin: 32px 24px;
  color: black;
  font-weight: 700;
  &:hover {
    color: $blue;
  }
}

.invoice-main-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 24px;
  margin: 0 24px;
  color: hsl(231, 23, 61);
  border-radius: 8px;
}

.invoice-info {
  background-color: white;
  margin: 16px 24px;
  padding: 24px;
  border-radius: 8px;
  color: hsl(231, 36, 63);
}

.invoice-info--descripton {
  margin-top: 4px;
}

.invoice-info--senderaddress {
  margin-top: 30px;
  line-height: 18px;
}

.invoice-info--clientaddress {
  margin-top: 8px;
  line-height: 18px;
}

.invoice-info--dates-billto-subheader {
  margin-top: 12px;
  color: $midnight;
  font-size: 15px;
  font-weight: 700;
}

.invoice-info--dates-billto-container {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
}

.invoice-info--dates,
.invoice-info--billto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-info--dates {
  margin-right: 40px;
}

.invoice-info--items {
  margin-top: 40px;
}

.invoice-item--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $midnight;
  background-color: hsl(231, 67, 99);
  font-weight: 700;
  padding: 24px;
}

.invoice-info--total {
  color: white;
  background: $verydarkblue;
  padding: 24px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.invoice-edit {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 24px;
}

.invoice-app--button {
  padding: 16px 28px;
  border-radius: 24px;

  &.markpaid,
  &.button-savechanges {
    color: white;
    background-color: $violet;
    &:hover {
      background-color: $lightviolet;
    }
  }

  &.delete {
    color: white;
    background-color: $red;
    &:hover {
      opacity: 0.8;
    }
  }

  &.edit,
  &.button-edit-cancel {
    color: $blue;
    background-color: hsl(231, 67, 99);
    &:hover {
      background-color: hsl(231, 75, 93);
    }
  }

  &.button-savedraft {
    color: hsl(231, 20, 61);
    background-color: hsl(231, 20, 27);
    &:hover {
      background-color: $midnight;
    }
  }
}

//============================================================
//================== EDIT INVOICE SECTION ====================
//============================================================

.edit-invoice-container {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);

  transition: visibility 1s, background-color 1s;
}

@media all and (min-width: 620px) {
  .edit-invoice-container {
    top: 0px;
    left: 72px;
  }
}

.edit-invoice-modal {
  z-index: 12;
  height: 100%;
  border-radius: 0 20px 20px 0;

  transition-property: transform;
  transition-duration: 1s;
}

@media all and (max-width: 620px) {
  .edit-invoice-modal {
    border-radius: 0;
  }
}

form {
  width: calc(100% - 48px);
  padding: 16px;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    max-height: 112px;
    width: 8px;
    margin: 136px 40px 136px 16px;
    border-radius: 4px;
    background: hsl(231, 75, 93);
  }
}

input[type="text"],
input[type="date"],
select {
  outline-color: transparent;
  border: 1px solid hsl(231, 75, 93);
  font-weight: 700;
  font-family: inherit;
  border-radius: 4px;
  padding: 16px 20px;

  &:focus {
    outline: none;
    border-color: $violet;
  }

  &.formerror {
    border-color: hsl(0, 80%, 63%);
  }
}

//A small note about the above select stlying, and the arrow that appears for the dropdown on Chrome;
//Because of inconsistent browser stylings, it would require a custom-made select element which is
//outside of the scope of this project. It also requires some finer accessibility considerations

.form-header {
  font-size: 24px;
  line-height: 32px;
  color: $midnight;
  font-weight: bold;
  & .form-header--id {
    color: hsl(231, 20, 61);
  }
}

.form-subheader {
  color: $violet;
  font-weight: 700;
  margin: 24px 0;
}

label {
  font-size: 12px;
  font-weight: 500;
  color: hsl(231, 36, 63);
  margin-bottom: 10px;
}

.form-item-label {
  display: inline-block;
}

.form-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.labelerror {
    color: hsl(0, 80%, 63%);
    font-size: 10px;
    font-weight: 600;

    label {
      color: hsl(0, 80%, 63%);
    }
  }
}

input,
select {
  margin-bottom: 24px;
}

.edit-invoice-modal {
  background-color: white;
}

@media screen and (min-width: 620px) {
  .edit-invoice-modal {
    min-width: 616px;
    max-width: 664px;
  }
}

.form-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & label {
    align-self: flex-start;
  }

  & input,
  select {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-flexbox--row {
  display: flex;
  flex-direction: row;
  width: 100%;

  & div {
    flex-grow: 1;
  }

  & label {
    display: inline-block;
  }
}

.form-flexbox--desktop-row {
  width: 100%;
}

@media all and (min-width: 620px) {
  .form-flexbox--desktop-row {
    display: flex;
    flex-direction: row;

    & > div:nth-child(1) {
      flex-basis: 65%;
    }

    & > div:nth-child(2) {
      margin-left: 24px;
      flex-basis: 35%;
    }
  }
}

.form-flexbox--desktop-datebox {
  width: 100%;
}

@media all and (min-width: 620px) {
  .form-flexbox--desktop-datebox {
    display: flex;
    flex-direction: row;

    div {
      flex-basis: 50%;
    }

    & > div:nth-child(1) {
      margin-right: 12px;
    }

    & > div:nth-child(2) {
      margin-left: 12px;
    }
  }
}

.form-flexbox--invoiceitems {
  display: flex;
  flex-direction: row;
  align-items: center;

  & div {
    margin-right: 16px;
  }

  & label {
    display: inline-block;
  }
}

.form-flexbox--desktop-items {
}

@media all and (min-width: 620px) {
  .form-flexbox--desktop-items {
    display: flex;
    flex-direction: row;

    & div:nth-child(1) {
      margin-right: 24px;
    }
  }
}

.form-itemlist {
  font-size: 18px;
  font-weight: 700;
  color: hsl(225, 14, 53);
  margin-top: 42px;
  margin-bottom: 24px;
}

.form-item-total {
  &:disabled {
    color: hsl(231, 20, 61);
    font-weight: 700;
    padding-left: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.form-newitem {
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    color: $blue;
    background-color: hsl(231, 67, 99);
    width: 100%;
    height: 48px;
    border-radius: 24px;

    &:hover {
      background-color: hsl(231, 75, 93);
    }
  }
}

.form-errors-footer {
  color: hsl(0, 80%, 63%);
  font-weight: 600;
  font-size: 10px;
  margin-top: 32px;
  margin-bottom: 44px;
  background: transparent;
}

.edit-modal-gradientfooter {
  position: absolute;
  pointer-events: none;
  top: 0px;
  transform: translateY(-100%);
  z-index: 13;
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, hsla(0, 0, 0, 0), hsla(0, 0, 0, 0.1));
}

.edit-modal-buttons {
  position: relative;
  z-index: 14;
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom-right-radius: 20px;
}

.invoice-delete-modal-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 150;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.invoice-delete-modal {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

.invoice-delete-header {
  color: $midnight;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.invoice-delete-buttons {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
